.editor {
	display: grid;
	grid-template: "header header header header header" 9.8vh "action details details details steps" 9.8vh
		"action canvas canvas canvas steps" 19.8vh "catalog canvas canvas canvas steps" 29.8vh
		"catalog canvas canvas canvas layer" 14.8vh "catalog canvas canvas canvas layer" 14.8vh / 16vw 23vw 23vw 23vw
		15vw;

	text-align: left;
}

.header {
	grid-area: header;

	background-color: green;
}

.subheader {
	width: 99%;

	padding: 0.5rem;

	background-color: white;
}

.action-area {
	grid-area: action;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.action-manager {
	width: 99%;
	height: 99%;

	border: 1px solid black;
}

.details {
	grid-area: details;

	background-color: aqua;
}

.steps {
	grid-area: steps;

	background-color: grey;
}

.canvas-area {
	grid-area: canvas;
	width: 99%;
	height: 99%;

	position: relative;
}

.catalog-area {
	grid-area: catalog;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.catalog {
	width: 99%;
	height: 99%;

	border: 1px solid black;
}

.catalog-listing {
	width: 100%;

	list-style: none;

	padding-left: 0;
}

.catalog-listing li {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.collapsible {
	width: 100%;

	border: 1px solid black;
}

.collapsible-trigger {
	width: 100%;

	display: flex;
	justify-content: space-between;

	padding: 0.5rem;
	background-color: burlywood;
}

.catalog-tools {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.thumbnail {
	max-width: 30%;
}

.layer {
	grid-area: layer;

	background-color: ghostwhite;
}

#canvas {
	border: 2px solid brown;
	border-radius: 3px;
}

.brownBorder {
	border: 0.5px solid rgb(224, 224, 224);
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clearButton {
	background-color: lightgray;
	border-width: 0;
}

.editorSelect {
	margin: 10px 5px;
}

.editorRightScroll {
	height: 90vh;
}

.scrollableStep {
	height: 40vh;
	overflow-y: auto;
}

.stepCard {
	height: 45vh;
}

.instructorEditorToolBar {
	padding: 5px 20px !important;
	margin-bottom: 15px;
	margin-top: 5px;
}

.editorToolBarSpacing {
	padding: 5px !important;
}

.instructorContainer {
	margin-bottom: 10px;
	background-color: white;
}

.editorControlName {
	height: 50px !important;
	margin: 0;
}

.editorToolBarButton {
	padding: 0px !important;
	margin: auto;
}

.editorToolBarButton button {
	margin: 0 5px;
}

.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

.editorLeftScroll {
	max-height: 550px;
	overflow-y: auto;
}

#largerCircle {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
	margin: 40px auto;
}

#largerCircle:focus {
	outline: none;
	outline-width: 0;
}

.centerCircle {
	height: 400px;
	text-align: center;
}

#smallerCircle {
	position: absolute;
	width: 80px;
	height: 80px;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
	top: -40px; /* -child size/2 */
	left: 110px; /* parent size/2 - child size/2 */
}

#smallerCircle img {
	max-width: 100%;
	border-radius: 50%;
}

.actionMeasurementControl {
	margin: 5px 0px;
	width: 95%;
	padding: 5px 10px;
	align-items: center;
	background-color: hsl(0, 0%, 100%);
	border-color: hsl(0, 0%, 80%);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	cursor: default;
}

.actionMeasurementControl:focus {
	outline: none;
	border-color: #2684ff;
	box-shadow: 0 0 0 1px #2684ff;
}
