.Editor {
    height: 100%;
    width: 100%;
    color: blue;
}
.page-grid {
    padding-top: 15vh;
}

.column {
    background-color: white;
    border-radius: 5;
    padding-bottom: 15;

}
.divider {
    height: 2vh;
}