.background {
}

.welcomeStudentDiv {
	text-align: left;
	margin-left: 14%;
	margin-right: 14%;
	padding: 1%;
}

.studentDashboardContents {
	background-color: white;
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: left;
}

.studentRecentLesson h4 {
	padding: 2%;
	border-bottom: 3px solid rgb(243, 243, 243);
}

.studentAllLesson {
	overflow-y: auto;
	max-height: 400px;
}

.studentAllLesson ol {
	text-align: left;
	padding: 0;
}

.courseListing {
	padding: 2%;
}

.courseListing {
	border-bottom: 2px solid rgb(243, 243, 243);
}

.courseListing h5 {
	font-weight: 350;
}

.courseListing h6 {
	font-weight: 250;
}

.courseListing .Collapsible {
	text-align: right;
	color: blue;
}

.courseListing .Collapsible ol {
	color: black;
}

.courseListing .Collapsible li {
	list-style-type: circle;
	margin-left: 5%;
}

.oddDiv {
	background-color: rgb(250, 242, 242);
}
