.background {
	background-color: rgb(243, 243, 243);
	height: 100vh;
}

.buttonRound {
	border-radius: 100px;
	outline: none !important;
	height: 35px;
	width: 35px;
}

.teacherDashboard {
	max-width: 1080px;
	margin: auto;
}

.searchBarDiv {
	margin: auto;
	padding-bottom: 10px;
}

.searchBarDiv ::placeholder {
	color: skyblue;
}

.searchBarDiv input {
	width: 80%;
	height: 60px;
	color: blue;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.searchBarDiv button {
	color: blue;
	height: 60px;
	margin-bottom: 10px;
	width: 5%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.searchBarDiv button:focus {
	box-shadow: 0 0 10px blue;
	outline: none !important;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.teacherDashboardContents {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 3%;
}

.recentDrinksDiv {
	background-color: white;
	border-radius: 10px;
	flex-grow: 1;
	max-width: 30%;
	margin-right: 5%;
	align-self: flex-start;
}

.recentDrinkTop {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 2%;
	border-bottom: 3px solid rgb(243, 243, 243);
}

.recentDrinkBottom ol {
	text-align: left;
	padding: 0;
}

.recentDrinkBottom li {
	list-style-type: none;
	border-bottom: 2px solid rgb(243, 243, 243);
	padding: 2%;
}

.allCreationButton {
	margin-bottom: 10px;
	border-radius: 3px;
	padding: 2%;
}

.recentLessonsDiv {
	background-color: white;
	flex-grow: 2;
	border-radius: 10px;
}

.recentLessonsTop {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 1%;
	border-bottom: 3px solid rgb(243, 243, 243);
}

.training1 {
	border-bottom: 2px solid rgb(243, 243, 243);
}

.training1 .Collapsible {
	text-align: right;
	padding: 0 1%;
	color: blue;
}

.training1Header {
	text-align: left;
	padding: 1% 1% 0 1%;
}

.training1Header h5 {
	font-weight: 350;
}

.training1Header h6 {
	font-weight: 250;
}

.recentLessonsBottom ol {
	color: black;
	text-align: left;
	padding: 0;
}

.recentLessonsBottom li {
	list-style-type: circle;
	padding: 1% 0;
	margin-left: 10%;
	font-weight: 300;
}

.allLessonsButton {
	margin: 10px;
	border-radius: 3px;
	padding: 1%;
}

.recentDrinkBottom .Collapsible {
	text-align: right;
	color: blue;
}

.recentDrinkBottom .Collapsible ol {
	color: black;
}

.recentDrinkBottom .Collapsible li {
	border: none;
}

.oddDiv {
	background-color: rgb(250, 242, 242);
}

.welcomeTeacherDiv {
	text-align: left;
	margin-left: 2%;
	margin-right: 2%;
	padding: 1%;
}
