.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.react-draggable {
  	cursor: move;
}

.input-range {
	width: 90% !important;
}

.remove-button {
	color: black;
	opacity: .4;
}

.remove-button:hover {
	opacity:.8;
}

.success-notif {
	position: absolute;
	top: 10vh;
	right:40vw;
	z-index: 1000;
	background-color: #43a047 !important;
	height:60px;
}

.success-notif-body {
	background-color: #43a047 !important;
	height:60px;
	z-index: 1000;
	color: white !important;
}
